<h2><%= @board.title %></h2>

<div class="pull-right">
<% if current_user && current_user.is_admin? %>
  <%= link_to("Edit board", edit_board_path(@board), :class => "btn") %>
<% end %>
<%= link_to("New topic", new_board_topic_path(@board), :class => "btn btn-primary") %></li>
</div>

<table class="table">
  <thead>
    <th>Title</th>
    <th>User</th>
    <th>Time</th>
  </thead>


  <tbody>
    <% @topics.each do |topic|%>
    <tr>
      <td><%= link_to(topic.title, board_topic_path(@board,topic)) %></td>
      <td><%= render_topic_author(topic.user) %></td>
      <td><%= topic.created_at %></td>
    </tr>
    <%end%>
  </tbody>
</table>




